<h3>Welcome, <%= current_user.username %></h3>
<a href="/activity/new">Post New Activity</a><br>
<br>
<br>
<% @activities.each do |activity| %>
  <!-- <li>/activity/<%= activity.id %></li> -->
  <li><a href="/activity/<%= activity.id %>"><%= activity.name.upcase %></a></li>
  <!-- <li><%= activity.name %></li> -->
  <li><%= activity.activity_date %></li>
  <li><%= activity.activity_time %></li>
  <li><%= activity.distance %></li>
  <li><%= activity.pace_avg %></li>
  <li><%= activity.speed_avg %></li>
  <li><%= activity.hr_avg %></li>
<hr>
<% end %><br>


<a href="/logout">Log Out</a>
