<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>


<h2><%= @activity.name %></h2>
<p><%= @activity.activity_date %></p>
<br>

<table width="600px">
  <tr>
    <td align="right">
      Activity Time:<br>
      Total Distance:<br>
      Pace (Avg):<br>
      Speed (Avg):<br>
      Heart Rate (Avg):<br>
    </td>
    <td align="center">
      <%= @activity.activity_time %><br>
      <%= @activity.distance %><br>
      <%= @activity.pace_avg %><br>
      <%= @activity.speed_avg %><br>
      <%= @activity.hr_avg %><br>
    </td>
  </tr>
  <tr>
    <td width="33%">
      <form action="/home">
        <input type="submit" value="HOME">
      </form>
    </td>
    <td width="33%">
      <form action="/activity/<%= @activity.id %>/edit">
        <input type="submit" value="EDIT">
      </form>
    </td>
    <td width=33%>
      <form action="/activity/<%= @activity.id %>/delete" method="post">
        <input id="hidden" type="hidden" name="_method" value="delete">
        <input type="submit" name="" value="DELETE">
      </form>
    </td>
  </tr>
</table>
