<!-- <li><%= @activity.id %></li> -->
  <h2><%= @activity.name %></h2>
  <p><%= @activity.activity_date %></p>
  <br>
  <li><%= @activity.activity_time %></li>
  <li><%= @activity.distance %></li>
  <li><%= @activity.pace_avg %></li>
  <li><%= @activity.speed_avg %></li>
  <li><%= @activity.hr_avg %></li>
